@import "tailwindcss";

/* *{
    color: white;
} */

body{
    background-color: #111;
    color: white;
    /* height: 100%; */
}

#tasklist::-webkit-scrollbar {
    display: none;
}

html,
body,
#root {
  height: 100%;
}
